{% extends 'oferty/base.html.twig' %}

{% block title %}{{ oferta.tytul }}{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">

            <div class="oferta row">

                <h1>{{ oferta.tytul }}</h1>
                <div class="small offer_date">
                    Data dodania: <span class="data">{{ oferta.datadodania|date("Y-m-d H:i:s") }}</span> &nbsp;
                    Autor: <span class="autor">{{ oferta.uzytkownik.imie }} {{ oferta.uzytkownik.nazwisko }}</span>
                </div>
                <div class="oferta_tresc">
                    {{ oferta.tresc }}
                </div>
                <div class="half miasto">
                    {% if oferta.lokalizacja|length %}
                        Miasta:<br>
                        <ul>
                            {%  for miasto in oferta.lokalizacja %}
                                <li>{{ miasto.nazwa }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="half kategoria">
                    {% if oferta.kategoria|length %}
                        Kategorie:<br>
                        <ul>
                            {%  for kategoria in oferta.kategoria %}
                                <li>{{ kategoria.nazwa }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
            </div>
            <div><a href="javascript:goBack()">Wróć</a></div>



</div>
{% endblock %}
